/* .meal-builder-container {
	display: flex;
	flex-direction: row;
	height: auto;
	width: auto;
	justify-content: space-between;
	border-radius: 30px;
	background: lightgrey;
	box-shadow: 2px 2px grey;
}

.menu-container {
	text-align: center;
	height: 400px;
	width: 300px;
	background: lightskyblue;
	border-radius: 100px;
	box-shadow: 2px 2px grey;
	margin-left: 20px;
}

.your-order-container {
	text-align: center;
	height: 400px;
	width: 300px;
	background: darkslategrey;
	border-radius: 100px;
}

.response-container {
	text-align: center;
	height: 400px;
	width: 300px;
	background: black;
	border-radius: 100px;
	margin-right: 20px;
}
.menu-title {
	margin-top: 40px;
	font-size: 20px;
	color: black;
	text-shadow: 0.5px 0.5px grey;
}
.options-container {
	display: block;
	flex-direction: column;
}
.option-title {
	font-size: 17px;
	margin-bottom: 5px;
	color: black;
	text-shadow: 0.5px 0.5px grey;
}

.confirm-selections-btn {
	text-align: center;
	height: 30px;
	width: 50px;
	font-size: 16px;
	border: 0px white none;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 1px 1px 1px 1px grey;
}

.confirm-selections-btn:hover {
	box-shadow: 2px 2px greenyellow;
	font-weight: 700;
}

.selected-items-text {
	margin-top: 20px;
	display: flex;
	align-items: center;
	margin-left: 25px;
	font-size: 18px;
	height: 25px;
}
.delete-btn {
	width: 40px;
	height: 40px;
}

.flavor-container {
	flex-direction: column;
	margin-left: 20px;
}

.flavor-list {
	font-size: 16px;
	text-align: center;
	width: 250px;
	height: 40px;
	color: black;
	outline: none;
	border: 0px solid white;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 1px 1px grey;
}

.flavor-text {
	margin-left: 30px;
	font-size: 20px;
	margin-bottom: 5px;
	color: black;
	text-shadow: 0.5px 0.5px grey;
}

.flavor-list:hover {
	box-shadow: 2px 2px greenyellow;
	font-weight: 700;
}

.flavor-details {
	margin-left: 20px;
	text-align: center;
	width: 200px;
	font-size: 17px;
	text-wrap: wrap;
} */
