/* Build Weight Comp*/
.weight-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: #333 1px 2px 5px 2px;
}
.weight-input-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.weight-input-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.weight-input-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	text-align: center;
	height: 60px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	border-right: 0px transparent solid;
	border-left: 0px transparent solid;
	text-shadow: darkgray 1px 1px;
}
.weight-input-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	text-align: center;
	height: 60px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	border-bottom: 0.5px solid grey;
	border-top: 0.1px solid grey;
	border-right: 0px transparent solid;
	border-left: 0px transparent solid;
	text-shadow: darkgray 1px 1px;
}
.weight-input-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	text-align: center;
	height: 60px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	border-bottom: 0.5px solid grey;
	border-top: 0.5px solid grey;
	border-right: 0px transparent solid;
	border-left: 0px transparent solid;
	text-shadow: darkgray 1px 1px;
}

.weight-button-decrement-left {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border-right: 1px grey solid;
	border-top: 0px transparent solid;
	border-left: 0px transparent solid;
	border-bottom: 0px transparent solid;
	font-size: 28px;
	outline: none;
	border-radius: 0px 0px 0px 10px;
	text-shadow: darkgray 1px 1px;
}
.weight-button-decrement-middle {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border-right: 0px transparent solid;
	border-left: 0px transparent solid;
	border-top: 0px transparent solid;
	border-bottom: 0px transparent solid;
	font-size: 28px;
	outline: none;
	border-radius: 0px 0px 0px 0px;
	text-shadow: darkgray 1px 1px;
}
.weight-button-decrement-right {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border-left: 1px solid grey;
	border-top: 0px transparent solid;
	border-right: 0px transparent solid;
	border-bottom: 0px transparent solid;
	font-size: 28px;
	outline: none;
	border-radius: 0px 0px 10px 0px;
	text-shadow: darkgray 1px 1px;
}
.weight-button-decrement-right:hover {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: rgb(174, 98, 98);
	box-shadow: 0 0 10px rgb(131, 32, 32);
}
.weight-button-decrement-middle:hover {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: rgb(174, 98, 98);
	box-shadow: 0 0 10px rgb(131, 32, 32);
}
.weight-button-decrement-left:hover {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: rgb(174, 98, 98);
	box-shadow: 0 0 10px rgb(131, 32, 32);
}
.weight-button-increment-left {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border-bottom: 0px transparent solid;
	border-top: 0px transparent solid;
	border-left: 0px transparent solid;
	border-right: 1px grey solid;
	font-size: 28px;
	border-radius: 10px 0px 0px 0px;
	text-shadow: darkgray 1px 1px;
}
.weight-button-increment-middle {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border: 0px transparent solid;
	font-size: 28px;
	border-radius: 0px 0px 0px 0px;
	text-shadow: darkgray 1px 1px;
}
.weight-button-increment-right {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border-bottom: 0px transparent solid;
	border-top: 0px transparent solid;
	border-right: 0px transparent solid;
	border-left: 1px grey solid;
	font-size: 28px;
	border-radius: 0px 10px 0px 0px;
	text-shadow: darkgray 1px 1px;
}
.weight-button-increment-middle:hover {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: rgb(73, 148, 73);
	box-shadow: 0 0 10px rgb(33, 93, 33);
}
.weight-button-increment-left:hover {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: rgb(73, 148, 73);
	box-shadow: 0 0 10px rgb(33, 93, 33);
}
.weight-button-increment-right:hover {
	height: 40px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: rgb(73, 148, 73);
	box-shadow: 0 0 10px rgb(33, 93, 33);
}

/* Build Height Imperial */
.height-btn-container-imperial-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: #333 1px 2px 5px 2px;
}
.height-btn-container-imperial {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	border: 0px none transparent;
}

.height-btn-increment-left {
	height: 50px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	border: 0px transparent solid;
	font-size: 28px;
	border-radius: 0px;
	text-shadow: darkgray 1px 1px;
	border-top-left-radius: 10px;
}
.height-btn-increment-left:hover {
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: rgb(73, 148, 73);
	box-shadow: 0 0 10px rgb(33, 93, 33);
}

.height-btn-increment-left:active {
	transform: translateY(2px);
}
.height-btn-increment-right {
	height: 50px;
	width: 70px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border-bottom: 0px transparent solid;
	border-top: 0px transparent solid;
	border-right: 0px transparent solid;
	border-left: 1px grey solid;
	font-size: 28px;
	border-radius: 0px;
	text-shadow: darkgray 1px 1px;
	border-top-right-radius: 10px;
}

.height-btn-increment-right:hover {
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: rgb(73, 148, 73);
	box-shadow: 0 0 10px rgb(33, 93, 33);
}
.height-btn-increment-right:active {
	transform: translateY(2px);
}

.height-btn-decrement-left {
	height: 50px;
	width: 70px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	border: 0px transparent solid;
	font-size: 28px;
	border-radius: 0px;
	text-shadow: darkgray 1px 1px;
	border-bottom-left-radius: 10px;
}

.height-btn-decrement-left:active {
	transform: translateY(2px);
}
.height-btn-decrement-left:hover {
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: rgb(174, 98, 98);
	box-shadow: 0 0 10px rgb(131, 32, 32);
}
.height-btn-decrement-right {
	height: 50px;
	width: 70px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border-bottom: 0px transparent solid;
	border-top: 0px transparent solid;
	border-right: 0px transparent solid;
	border-left: 1px grey solid;
	font-size: 28px;
	border-radius: 0px;
	text-shadow: darkgray 1px 1px;
	border-bottom-right-radius: 10px;
}
.height-btn-decrement-right:hover {
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: rgb(174, 98, 98);
	box-shadow: 0 0 10px rgb(131, 32, 32);
}
.height-btn-decrement-right:active {
	transform: translateY(2px);
}

/* Build Height Metric */

.height-container-metric-main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	border: 0px none transparent;
}

.height-btn-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 20px;
}

.height-btn-input-container-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px 10px 10px 0px;
	border-radius: 10px;
	box-shadow: #333 1px 2px 5px 1px;
}

.height-btn-container-increment-selection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px 20px 10px 0px;
}
.height-input-metric {
	text-align: center;
	height: 40px;
	width: 125px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border-top: 0px transparent solid;
	border-bottom: 0px transparent solid;
	border-left: black 2px solid;
	border-right: black 2px solid;
	border-radius: 0px;
	font-size: 28px;
}
.height-btn-increment-top {
	height: 40px;
	width: 125px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border-top: black 2px solid;
	border-left: black 2px solid;
	border-right: black 2px solid;
	border-bottom: 0px transparent solid;
	font-size: 28px;
	border-radius: 10px 10px 0px 0px;
}


.height-btn-decrement-bottom{
	height: 40px;
	width: 125px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border-top:1px grey solid;
	border-left:black 2px solid;
	border-right:black 2px solid;
	border-bottom: 2px black solid;
	font-size: 28px;
	border-radius: 0px 0px 10px 10px;
}

.radio-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-align: center;
	height: 40px;
	width: 40px;
	border-radius: 1000px;
	border: none transparent solid;
	margin-bottom: 5px;
	box-shadow: grey 1px 1px 3px 1px;
}

.radio-button:active {
	font-weight: 600;
	transform: scale(0.95); /* Slightly scale down to simulate a press */
}
