.macro-input-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
	height: 450px;
	border: 2px solid brown;
	border-radius: 20px;
	background-color: antiquewhite;
	box-shadow: #333 1px 5px 10px 5px;
    padding: auto;
}

.macro-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    
}

.macro-input-title{
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.macro-input-container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.macro-input-container-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.macro-input-container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.total-calorie-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
    width: 80%;
    border-top: #333 1px solid;
}

.macro-title{
    margin: auto;
    text-decoration: underline;
    margin: 12px;
}

.macro-input{
margin: auto;
width: 120px;
text-align: center;
margin: 10px;
}

.calorie-result{
margin: auto;
width: 120px;
text-align: center;
margin: 10px;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 0px;
    margin: 0px;
}