.modal-container{
    display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	z-index: 1010; /* Ensure the modal appears on top */
}

.modal-side-bar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
    width: 100%;
}

.modal-side-bar-text{
    width: 100%;
    height: 20px;
	font-size: 18px;
	font-weight: 700;
}

.modal-content{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: antiquewhite;
	border-radius: 5px;
	width: 90%; /* Adjust as needed */
    max-width: 900px;
	height: auto;
	box-shadow: #333 1px 3px 5px 3px;
	border: 2px solid brown;
	margin: 20px;
	padding: 20px;
    position: absolute;
}
.preview-profile-close-modal-btn {
    background-color: transparent;
	color: black;
	cursor: pointer;
    border:0px none transparent;
    margin: 0px;
    padding: 0px;
	font-size: 28px;
    font-weight: 900;
    top: 0;
    right:10px;
    position:absolute;
	transition: background-color 0.3s ease;
}

.preview-profile-close-modal-btn:hover {
	color: darkred;
	font-weight: 900;
}

.preview-profile-close-modal-btn:active {
	color: red; /* Color change on click */
	transform: scale(0.95); /* Button scale down when clicked */
}

.modal-profile-update-container{
    display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	z-index: 9999; /* Ensure the modal appears on top */

}

.modal-profile-update-container{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: antiquewhite;
	border-radius: 5px;
	width: auto;
	height: auto;
	box-shadow: #333 1px 3px 5px 3px;
	border: 2px solid brown;
	padding: 40px;
    left: 200px;
    top: 0px;
    position: relative;
}

.close-update-btn{
    background-color: transparent;
	color: black;
	cursor: pointer;
    border:0px none transparent;
    margin: 0px;
    padding: 0px;
	font-size: 28px;
    font-weight: 900;
    top: 0;
    right:10px;
    position:absolute;
	transition: background-color 0.3s ease;
}

.close-update-btn:hover {
	color: darkred;
	font-weight: 900;
}

.close-update-btn:active {
	color: red; /* Color change on click */
	transform: scale(0.95); /* Button scale down when clicked */
}
