.advanced-order-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 75vw;
	max-width: auto;
	background-color: aquamarine;
	border-radius: 20px 20px 0px 0px;
	box-shadow: #333 1px 5px 10px 5px;
	padding: 20px;
	margin: 20px;
}


.comp-container-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: auto;
	height: auto;
	border: 2px solid brown;
	border-radius: 20px;
	background-color: antiquewhite;
	box-shadow: #333 1px 5px 10px 5px;
	margin:10px 20px 10px 20px;
	padding: 20px;
}


.title-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
}
.comp-title {
	font-size: 22px;
	margin: 2px 0px 10px 0px;
	padding: 0px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	text-decoration: underline;
}


.data-text{
	font-weight: 800;
}

.help-title {
	font-size: 16px;
	margin: 2px 0px 10px 0px;
	padding: 0px;
	text-align: center;
	margin-bottom: 5px;
}
.here-link {
	color: blue;
}

.here-link:hover {
	color: blue;
	font-size: 20px;
	font-weight: 700;
	text-decoration: underline;
}


.weight-input-container-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}




.weight-input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
/* Input  */


.button-increment-bottom{
	height: 40px;
	width: 125px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 0px;
	border-top:1px grey solid;
	border-left:black 2px solid;
	border-right:black 2px solid;
	border-bottom: 2px black solid;
	font-size: 28px;
	border-radius: 0px 0px 10px 10px;
}



select {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 200px;
	font-size: 18px;
}
option {
	font-size: 18px;
	width: 200px;
}
input {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 200px;
	font-size: 18px;
	border-radius: 10px;
}







.radio-button{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-align: center;
	height:40px;
	width: 40px;
	border-radius: 1000px;
	border:none transparent solid;
	margin-bottom: 5px;
	box-shadow: grey 1px 1px 3px 1px;
	
}

.radio-button:active{
	font-weight: 600;
	transform: scale(0.95); /* Slightly scale down to simulate a press */
}
