#root {
	margin: 0 auto;
	text-align: center;
}

.menu-container {
	margin-top: 0px;
	height: 500px;
	width: 1400px;
	background: lightskyblue;
	border-radius: 10px;
	box-shadow: 2px 2px grey;
}

.menu-title {
	height: auto;
	width: auto;
	padding-top: 20px;
	font-size: 50px;
	color: black;
	text-shadow: 0.5px 0.5px grey;
}

.food-title {
	font-size: 20px;
	margin-bottom: 5px;
	color: black;
	text-shadow: 0.5px 0.5px grey;
}

.food-selection-limit-text {
	font-size: 14px;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 2px;
}

.span-text {
	font-weight: 700;
}
.food-list-selection-caontainer {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}
.food-list {
	font-size: 14px;
	text-align: center;
	width: 215px;
	height: 30px;
	color: black;
	outline: none;
	border: 0px solid white;
}

.confirm-food-selections-btn {
	text-align: left;
	height: 30px;
	font-size: 14px;
	border: 0px solid white;
}
