* {
	box-sizing: border-box;
}

html,
body {
	background-color: #fff7ed;
	font-family: "Inter", sans-serif;
}

a {
	text-decoration: unset;
	color: unset;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	/* position: relative; */
	margin-bottom: 0%;
	padding-bottom: 0%;
}

header {
	display: flex;
	justify-content: center;
	padding-block: 10px;
	margin-top: 20px;
}

header .site-logo {
	color: #4d4d4d;
	font-weight: 900;
	font-size: 70px;
	border: 1px solid grey;
	margin-right: 5%;
}
header .site-logo:hover {
	color: #161616;
	text-decoration: underline;
	border: 3px solid black;
	font-size: 75px;
}

header a {
	text-decoration: none;
	color: #4d4d4d;
	font-weight: 600;
	padding: 5px 30px;
	font-size: 32px;
}

header a:hover {
	color: #161616;
	text-decoration: underline;
	font-size: 36px;
}

.login-icon {
	height: 100px;
	width: 100px;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	background-color: #161616;
	color: #aaaaaa;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 36px;
	bottom: 0;
	width: 100%;
}

.link-button:hover {
	transform: translate(1px, 1px);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.dashboard-nav {
	display: flex;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 40px;
}
.dashboard-nav a {
	text-decoration: none;
	color: #4d4d4d;
	font-weight: 500;
	padding: 5px 20px;
	font-size: 30px;
}

.dashboard-nav a:hover {
	color: #161616;
	text-decoration: underline;
	font-weight: 600;
}

.login-container {
	display: flex;
	border: 4px solid brown;
	border-radius: 20px;
	width: 500px;
	height: fit-content;
	max-height: fit-content;
	flex-direction: column;
	align-items: center;
	padding-inline: 27px;
	margin: 40px 0px 40px;
}

.login-form {
	display: flex;
	height: auto;
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	margin-bottom: 20px;
}

.login-form > input {
	border: 1px solid rgba(209, 213, 219);
	height: 40px;
	font-size: 20px;
	text-indent: 10px;
	font-family: "Inter", sans-serif;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.05);
	font-weight: 400;
	margin-top: 15px;
}

.login-form > input:focus {
	outline: none;
}

.login-form > input:first-of-type {
	border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
	border-radius: 0px 0px 6px 6px;
	border-top: none;
}

.login-form > button {
	background-color: #ff8c38;
	font-size: 20px;
	text-shadow: #333 1px 1px 1px;
	border: none;
	border-radius: 6px;
	height: 55px;
	margin-top: 22px;
	color: white;
	font-family: "Inter", sans-serif;
	transition: background-color 0.3s, transform 0.2s;
}

.login-form > button:hover {
	color: white;
	background-color: rebeccapurple;
}

.login-form > button:active {
	background-color: #003580;
	transform: scale(0.95); 
}

.login-chef-img {
	height: 200px;
}

.login-form > button:hover {
	color: white;
	background-color: rebeccapurple;
}

.login-form > button:active {
	background-color: #003580; 
	transform: scale(0.95); 
}

.sign-up-title {
	font-size: 30px;
}

.current-member-link {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 20px;
	border: none;
	cursor: pointer;
	background: none;
}

.current-member-link:hover {
	font-weight: 700;
	color: blue;
}

.home-page-container {
	display: flex;
	flex-direction: row;
	height: auto;
	width: auto;
	margin-top: 40px;
}

.chef-img-container {
	display: flex;
	margin-right: 40px;
}
.home-page-chef-img {
	height: auto;
	width: auto;
	height: 600px;
}
.home-live-text-container {
	display: flex;
	justify-content: center;
	width: 600px;
	height: 500px;
	border: 4px solid brown;
	border-radius: 20px;
	background-color: antiquewhite;
	box-shadow: 5px 5px 5px black;
	text-shadow: 0.5px 0.5px grey;
}
.about-page-container {
	display: flex;
	flex-direction: row;
	height: auto;
	width: auto;
	margin-top: 40px;
}

.about-page-chef-img {
	height: auto;
	width: auto;
	height: 600px;
}
.about-live-text-container {
	display: flex;
	justify-content: center;
	width: 600px;
	height: 550px;
	border: 4px solid brown;
	border-radius: 20px;
	background-color: antiquewhite;
	box-shadow: 5px 5px 5px black;
	text-shadow: 0.5px 0.5px grey;
}
.Account-container {
	display: flex;
	border: 4px solid brown;
	border-radius: 20px;
	width: auto;
	flex-direction: column;
	align-items: center;
	padding-inline: 27px;
	margin: 40px 0px 40px;
}
.account-title {
	display: flex;
	align-items: flex-start;
	text-decoration: underline;
}
.account-data-container {
	display: flex;
	flex-direction: row;
}
.account-details {
	text-transform: capitalize;
	font-weight: 600;
}
.account-details-title-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: end;
	width: auto;
	margin-right: 20px;
}
.account-details-data-container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: auto;
	margin-right: 20px;
}

.logout-btn {
	background-color: #ff8c38;
	font-size: 20px;
	text-shadow: #333 1px 1px 1px;
	width: 50%;
	border: none;
	border-radius: 6px;
	height: 55px;
	margin-top: 22px;
	margin-bottom: 15px;
	color: white;
	font-family: "Inter", sans-serif;
	transition: background-color 0.3s, transform 0.2s;
}
.logout-btn:hover {
	color: white;
	background-color: rebeccapurple;
}

.logout-btn:active {
	background-color: #003580; /* Color change on click */
	transform: scale(0.95); /* Button scale down when clicked */
}

.error-message {
	color: red;
	font-size: 20px;
}

.kitchen-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: aquamarine;
	border-radius: 30px 30px 0px 0px;
	padding: 0px 0px;
	margin: 0px 10px;
	height: 700px;
	width: 1200px;
	box-shadow: #333 1px 5px 10px 5px;
}

.chef-background-img {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-grow: 1;
	border-radius: 30px 30px 0px 0px;
}

/* .chef-img-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 20%;
} */

.chef-img {
	display: flex;
	width: auto;
	height: 500px;
	margin-left: 100px;
}

.chef-bubble-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 600px;
}
.live-text-div {
	display: flex;
	justify-content: center;
	width: 600px;
	height: 600px;
	border: 4px solid brown;
	border-radius: 20px;
	background-color: antiquewhite;
	box-shadow: #333 1px 5px 10px 5px;
	text-shadow: 0.5px 0.5px grey;
	margin-left: 80px;
}

.blinking-cursor {
	position: absolute;
	width: 90px;
	height: 100px;
	color: black;
	font-size: 6px;
	animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #333;
	}
}

@keyframes chefSurpriseDiv {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.clipboard-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	border: 4px solid brown;
	border-radius: 20px;
	background-color: antiquewhite;
	box-shadow: #333 1px 5px 10px 5px;
	text-shadow: 0.5px 0.5px grey;
	margin-left: 80px;
}

.menu-title-text-container {
	justify-content: center;
	align-items: center;
}

.menu-text {
	font-size: 34px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	z-index: 102;
}

.menu-items-container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	height: 525px;
	width: 460px;
	gap: 10px;
	z-index: 102;
}

.entree-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 60px;
}

/* drop down menu items */
.menu-list-items {
	text-align: center;
	outline: none;
	border-radius: 10px;
	width: 250px;
	height: 30px;
	box-shadow: 1px 1px 1px 1px gray;
	font-size: 20px;
	z-index: 102;
}

.menu-list-items:hover {
	display: flex;
	font-size: 16px;
	font-style: bold;
	font-weight: 900;
}

.headcount-div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 17px;
	width: 100%;
	height: 60px;
	z-index: 102;
}

.headcount-text {
	display: flex;
	align-items: center;
	justify-content: center;
	color: coral;
	width: 50px;
	height: 50px;
	border: 3px solid coral;
	border-radius: 100px;
	font-weight: 900;
	z-index: 102;
}

.headcount-slider {
	width: 160px;
	z-index: 102;
}

.flavor-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 60px;
	z-index: 102;
}

.flavor-details-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 60px;
	z-index: 102;
	margin-left: 30px;
}
.flavor-details-text {
	font-size: 17px;
	color: coral;
	font-style: italic;
}

.dietary-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 60px;
	z-index: 102;
}
.order-btn-div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 120px;
	z-index: 102;
}
.order-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightcoral;
	margin-bottom: 20px;
	width: 400px;
	height: 50px;
	border: 0px solid white;
	border-radius: 1000px;
	box-shadow: 3px 3px 3px 1px black;
	font-size: 30px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	z-index: 1005;
}

.order-btn:hover {
	color: white;
	background-color: rebeccapurple;
}

.order-btn:active {
	background-color: #003580; /* Color change on click */
	transform: scale(0.95); /* Button scale down when clicked */
}

.cooking-animation {
	display: none;
	justify-content: center;
	align-items: center;
	width: 380px;
	height: auto;
	z-index: 103;
	margin-top: 50px;
	border: 6px solid #ea4c89;
	border-radius: 1000px;
}

.bot-response-container {
	display: none;
	border: 8px solid #f99a41;
	border-radius: 10px;
	height: 400px;
	width: 470px;
	z-index: 103;
	overflow-y: auto;
	overflow-x: auto;
	background-color: white;
	margin-top: 20px;
}

.bot-response-text {
	font-size: 16px;
	color: black;
	white-space: pre-wrap;
	padding-left: 30px;
	padding-right: 30px;
}

.download-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightcoral;
	width: 400px;
	height: 50px;
	border: 0px solid white;
	border-radius: 1000px;
	box-shadow: 3px 3px 3px 1px black;
	font-size: 30px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	z-index: 1005;
	margin-top: 20px;
}

.download-btn:hover {
	color: white;
	background-color: rebeccapurple;
}

.download-btn:active {
	background-color: #003580; /* Color change on click */
	transform: scale(0.95); /* Button scale down when clicked */
}

.reset-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightcoral;
	width: 400px;
	height: 50px;
	border: 0px solid white;
	border-radius: 1000px;
	box-shadow: 2px 1px 2px 1px black;
	font-size: 30px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	z-index: 1005;
	margin-top: 20px;
	margin-bottom: 20px;
}

.reset-btn:hover {
	color: white;
	background-color: rebeccapurple;
}

.reset-btn:active {
	background-color: #003580; /* Color change on click */
	transform: scale(0.95); /* Button scale down when clicked */
}

.easy-order-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: auto;
	width: 1200px;
	background-color: aquamarine;
	border-radius: 30px 30px 0px 0px;
	padding: 50px 20px 50px;
	box-shadow: #333 1px 5px 10px 5px;
}

.easy-order-live-text-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	border: 4px solid brown;
	border-radius: 20px;
	background-color: antiquewhite;
	box-shadow: #333 1px 5px 10px 5px;
	text-shadow: 0.5px 0.5px grey;
	margin-left: 80px;
}

.easy-order-begin-btn {
	justify-content: center;
	align-items: center;
	background-color: lightcoral;
	width: 200px;
	height: 50px;
	border: 0px solid white;
	border-radius: 1000px;
	box-shadow: 3px 3px 3px 1px black;
	font-size: 30px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	animation: fadeIn 0.75s ease-in-out;
	margin-bottom: 25px;
}

.easy-order-begin-btn:hover {
	color: white;
	background-color: rebeccapurple;
}

.easy-order-begin-btn:active {
	background-color: #003580; /* Color change on click */
	transform: scale(0.95); /* Button scale down when clicked */
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.easy-order-menu-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	max-width: 700px;
	height: auto;
	border: 4px solid brown;
	border-radius: 20px;
	background-color: antiquewhite;
	box-shadow: #333 1px 5px 10px 5px;
	text-shadow: 0.5px 0.5px grey;
	animation: fadeIn 0.75s ease-in-out;
	text-align: center;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 20px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 2;
	}
}

.easy-order-menu-text {
	font-size: 30px;
	text-decoration: underline;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.courses-list-el {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	gap: 30px;
	font-size: 30px;
	flex-wrap: wrap;
	line-height: 1.5;
}

.courses-list-el input[type="checkbox"] {
	margin-right: 15px;
	height: 20px;
	width: 20px;
}

.courses-list-el label {
	display: flex;
	align-items: center;
}
.disabled-checkbox {
	color: #888; /* Gray out the text */
	pointer-events: none;
}

.course-make-selection-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightcoral;
	width: 250px;
	height: 50px;
	border: 0px solid white;
	border-radius: 1000px;
	box-shadow: 3px 3px 3px 1px black;
	font-size: 30px;
	cursor: pointer;
	font-weight: 500;
	transition: background-color 0.3s, transform 0.2s;
	animation: fadeIn 0.75s ease-in-out;
}

.course-make-selection-btn:hover {
	color: white;
	background-color: rebeccapurple;
}

.course-make-selection-btn:active {
	background-color: #003580; /* Color change on click */
	transform: scale(0.95); /* Button scale down when clicked */
}

.easy-order-selections-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 300px;
	height: auto;
	border: 4px solid brown;
	border-radius: 20px;
	background-color: antiquewhite;
	box-shadow: #333 1px 5px 10px 5px;
	text-shadow: 0.5px 0.5px grey;
	margin-left: 20px;
	animation: fadeIn 0.75s ease-in-out;
	padding-bottom: 20px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 5;
	}
}

.easy-order-selection-text {
	font-size: 30px;
	text-decoration: underline;
}
.confirmed-selection-text {
	/* margin-top: 5px; */
	font-size: 22px;
	line-height: 0px;
}

.easy-order-selection-text:hover {
	display: flex;
	font-size: 16px;
	font-style: bold;
	font-weight: 900;
}

.easy-order-modify-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightcoral;
	width: 150px;
	height: 30px;
	border: 0px solid white;
	border-radius: 1000px;
	box-shadow: 2px 1px 2px 1px black;
	font-size: 20px;
	cursor: pointer;
	font-weight: 500;
	transition: background-color 0.3s, transform 0.2s;
	animation: fadeIn 0.75s ease-in-out;
	margin-top: 15px;
}

.easy-order-selection-change-btn:hover {
	color: white;
	background-color: rebeccapurple;
}

.easy-order-selection-change-btn:active {
	background-color: #003580; /* Color change on click */
	transform: scale(0.95); /* Button scale down when clicked */
}

.head-count-container {
	display: flex;
}

#head-count-volume,
volume {
	margin-top: 30px;
	width: 400px;
	height: auto;
}
.head-count-title-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: px;
	font-size: 25px;
}

.head-count-data-text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	text-decoration: none;
	border: 3px solid #f99a41;
	color: #f99a41;
	border-radius: 100px;
	height: 75px;
	width: 75px;
	margin-right: 10px;
	margin-left: 10px;
	font-weight: 700;
}
/* Change the color and size of the range input */
input[type="range"] {
	/* Set the track color and size */
	--track-color: #ccc; /* Change to your desired color */
	--track-height: 25px; /* Change to your desired height */
	--track-width: 100px; /* Change to your desired width */

	/* Set the thumb (button) color and size */
	--thumb-color: #f99a41; /* Change to your desired color */
	--thumb-height: 30px; /* Change to your desired height */
	--thumb-width: 30px; /* Change to your desired width */

	/* Remove default styles */
	appearance: none;
	background: transparent;
	border: none;
}

/* Customize the track */
input[type="range"]::-webkit-slider-runnable-track {
	background-color: var(--track-color);
	height: var(--track-height);
	width: var(--track-width);
	border-radius: 10px; /* Adjust the border radius as needed */
}

/* Customize the thumb (button) */
input[type="range"]::-webkit-slider-thumb {
	background-color: var(--thumb-color);
	height: var(--thumb-height);
	width: var(--thumb-width);
	border-radius: 50%; /* Make it round (adjust as needed) */
	cursor: pointer;
	-webkit-appearance: none;
	transform: translateY(30%); /* Center vertically */
	margin-top: calc(var(--track-height) / 2 * -1); /* Adjust for the track height */
}

/* Handle range input when in focus */
input[type="range"]:focus {
	outline: none; /* Remove the focus outline (adjust as needed) */
}

/* Handle range input hover state */
input[type="range"]:hover::-webkit-slider-thumb {
	background-color: #ff0000; /* Change thumb color on hover (adjust as needed) */
}

.advanced-order-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 700px;
	width: 1200px;
	background-color: aquamarine;
	border-radius: 30px 30px 0px 0px;
	padding: 50px 20px 50px;
	box-shadow: #333 1px 5px 10px 5px;
}

.advanced-order-live-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	/* height: auto; */
	margin-bottom: 0px;
	padding-bottom: 0px;
	border: 4px solid brown;
	border-radius: 20px;
	background-color: antiquewhite;
	box-shadow: #333 1px 5px 10px 5px;
	text-shadow: 0.5px 0.5px grey;
	margin-left: 80px;
}

.advanced-start-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: auto;
	height: auto;
	border: 4px solid brown;
	border-radius: 20px;
	background-color: antiquewhite;
	box-shadow: #333 1px 3px 7px 3px;
	text-shadow: 0.5px 0.5px grey;
	margin-left: 80px;
}

.advanced-start-help-btn {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: lightcoral;
	width: auto;
	height: 50px;
	border: 0px solid white;
	border-radius: 20px;
	box-shadow: 3px 3px 3px 1px black;
	font-size: 30px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	animation: fadeIn 0.75s ease-in-out;
	padding: 15px 10px;
	margin-bottom: 25px;
}

.advanced-start-help-btn-btn:hover {
	color: white;
	background-color: rebeccapurple;
}

.advanced-start-help-btn:active {
	background-color: #003580; /* Color change on click */
	transform: scale(0.95); /* Button scale down when clicked */
}

.advanced-order-macros-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	padding: 20px 20px 20px 20px;
	margin: 10px 10px 10px 10px;
}

.advanced-order-questions-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
}

.advanced-order-macro-category-title {
	font-size: 30px;
}

.advanced-order-macro-input {
	height: 40px;
	width: 60px;
	margin-bottom: 10px;
}

.advanced-order-done-btn {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: lightcoral;
	width: auto;
	height: 50px;
	border: 0px solid white;
	border-radius: 20px;
	box-shadow: 2px 1px 2px 1px black;
	font-size: 30px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	animation: fadeIn 0.75s ease-in-out;
	padding: 15px 10px;
	margin-top: 10px;
	margin-bottom: 25px;
}

.advanced-order-done-btn:hover {
	color: white;
	background-color: rebeccapurple;
}

.advanced-order-done-btn:active {
	background-color: #003580; /* Color change on click */
	transform: scale(0.95); /* Button scale down when clicked */
}
