@font-face {
	font-family: "Montserrat";
	src: url("/src/assets/fonts/Montserrat.ttf") format("trueType");
}
@font-face {
	font-family: "Roboto Slab";
	src: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap") format("trueType");
}
.underlineAnimate {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;

	display: inline-block;
	position: relative;
}

.underlineAnimate:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 1px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition:
		width 0.3s ease 0s,
		left 0.3s ease 0s;
	width: 0;
}

.underlineAnimate:hover:after {
	width: 100%;
	left: 0;
}

@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
@tailwind base;
@tailwind components;
@tailwind utilities;
